# Configuración Django
DJANGO_SECRET_KEY=tu-clave-secreta-aqui-cambiar-en-produccion
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Configuración Base de Datos
DB_NAME=medical_software
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
